<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.vikas.quizzer">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuizTopic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".singleplay"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainBluetoothActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clientplay"
            android:screenOrientation="landscape" />
        <activity
            android:name=".hostplay"
            android:screenOrientation="landscape" />
        <activity android:name=".ScorePage" />
        <activity android:name=".Statistics" />
        <activity android:name=".SingleScorePage"></activity>
    </application>

</manifest>
